@import '@/styles/variables.sass'

.sertificate
  padding-top: 100px
  padding-bottom: 60px
  background-color: #ffffff
.titleWrap
  width: 100%
  display: flex
  justify-content: flex-end

.title
  max-width: 60vw
  margin-bottom: 50px
  text-align: right
  font-weight: 500
  background-color: #ffffff

.content
  display: flex
  justify-content: space-between
  align-items: center
  gap: 50px
  padding-right: 5%
  padding-left: 10%

.contentLeft 
  max-width: 25%
  min-width: 32vw
 
.descr
  margin-bottom: 80px
  text-transform: uppercase
  font-size: calc(20px + 5 * ((100vw - 1024px) / (1920 - 1024)))
  font-weight: 300

.imgContainer
  position: relative
  width: 32vw
  min-width: 400px
  padding-top: 30%

.img
  width: 100%
  height: 100%
  object-fit: contain

.buy
  position: relative
  color: #fff
  font-size: calc(17px + 6 * ((100vw - 1024px) / (1920 - 1024)))
  text-transform: uppercase
  font-family: "AeonikRegular"
  font-weight: 300
  cursor: pointer
  border: 2px solid #ffffff
  border-radius: 20px
  padding: 8px 8px
  mix-blend-mode: difference
  

.buy:hover 
  background-color: #000000
  border: 2px solid #000000
  mix-blend-mode: initial
  transition: background-color 0.2s ease


@media( max-width: 1024px)

  .sertificate
    padding-top: 60px
    padding-bottom: 30px

  .content
    flex-direction: column
    justify-content: center
    align-items: flex-start
    padding-right: 0%
    padding-left: 0%

  .contentLeft 
    width: 100%
    max-width: 93%

  .imgContainer
    width: 100%
    min-width: 100%
    padding-top: 50%

  .title
    max-width: 100%
    margin-bottom: 30px

  .descr
    margin-bottom: 40px
    font-size: calc(15px + 3 * ((100vw - 360px) / (1024 - 360)))
