@use '@/styles/normalize.sass'

@font-face
  font-family: "AeonikRegular"
  src: url("/assets/fonts/AeonikRegular.otf")
  font-weight: 400
  font-style: regular
  font-display: swap

@font-face
  font-family: "AeonikBold"
  src: url("/assets/fonts/AeonikBold.otf")
  font-weight: 600
  font-style: bold
  font-display: swap


@font-face
  font-family: "VictorMonoRegular"
  src: url("/assets/fonts/VictorMonoRegular.woff2")
  font-weight: 500
  font-style: medium
  font-display: swap

*
  box-sizing: border-box
  scroll-behavior: smooth

html
  min-height: 100%

body
  background-color: #fff
  font-family: "VictorMonoRegular", sans-serif
  font-weight: 300
  orientation: landscape
  color: #1b1b1b

a
  text-decoration: none

ul
  margin: 0
  padding: 0
  list-style: none

p
  margin: 0

button
  padding: 0
  border: none
  background-color: inherit

h1,h2,h3
  padding: 0
  margin: 0

h2,h3
  font-family: "AeonikRegular"
  font-weight: 400
  text-transform: uppercase
  padding: 0
  margin: 0

h2
  font-size: calc(50px + 20 * ((100vw - 1024px) / (1920 - 1024)))

h3
  font-size: calc(30px + 15 * ((100vw - 1024px) / (1920 - 1024)))

@media( max-width: 1024px)

  h2
    font-size: calc(23px + 22 * ((100vw - 360px) / (1024 - 360)))

  h3
    font-size: calc(20px + 15 * ((100vw - 360px) / (1024 - 360)))
