.contacts
  padding: 100px 0
  border-top: 1px solid #000

.content
  display: flex
  flex-wrap: wrap-reverse
  gap: 40px

.map
  position: relative
  flex: 1 1 300px
  width: 48%
  height: 700px

.adress
  flex: 1 1 300px
  width: 48%
  color: #000
  font-size: 35px

.name
  display: block
  margin-bottom: 15px
  font-family: "SanFrancisco"
  font-weight: 400
  text-transform: uppercase
  font-size: 45px

.mail
  display: block
  margin-bottom: 10px
  font-size: 35px

.tel
  display: block
  margin-bottom: 20px
  font-size: 30px

.massage svg
  margin-right: 15px
  width: 30px
  height: 30px

.houseAdress
  display: block
  margin-top: 15px
  margin-bottom: 30px

@media (max-width: 1024px)

  .map
    height: 50vh

  .name
    font-size: 25px

  .mail
    font-size: 20px

  .tel
    font-size: 20px

  .house
    font-size: 20px
